.form-group {
  @apply .mb-8;
  label {
    @apply .text-xs .font-heading .uppercase .font-bold .block .mb-2;
  }
  .help-text {
    @apply .block .text-sm .mt-4;
  }
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='time'],
input[type='password'] {
  height: 2.1875rem;
}

.input {
  @apply .w-full .p-2 .font-light .block .appearance-none;
  transition: background-color .5s ease;
  &:hover,
  &:focus {
    @apply .bg-grey-lighter;
  }
  border-bottom: 1px solid transparent;
  background-color: rgba(37, 73, 156, .1);
  border-radius: 0px;
  &:hover, &:active {
    background-color: rgba(37, 73, 156, .2)
  }

  &--invert {
    @apply .border-white .bg-transparent;

    &:hover,
    &:focus {
      background-color: transparentize($color: #ffffff, $amount: 0.9);
    }
  }
}

.select {
  position: relative;
  display: block;
  &:after {
    content: '';
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid darken(#fff, 20%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
  }
  select {
    border-radius: 0px;
  }
}

.checkbox {
  display: block;
  margin-bottom: 10px;
  input[type="checkbox"] {
    display: none;
  }
  @apply .flex .items-center;
  span {
    font-size: 16px;
    cursor: pointer;
    @apply .relative .pl-8 .font-normal .text-black .leading-normal .font-heading .uppercase .text-base;
    &:before {
      content: "\00d7";
      margin-top: -2px;
      font-style: normal;
      transition: opacity .5s ease, color .5s;
      @apply .opacity-50 .text-transparent .font-normal .w-6 .h-6 .text-lg .block .absolute .pin-l .pin-t .border .border-brand-grey-darker .text-brand-grey .flex .items-center .justify-center;
    }
  }
  input[type="checkbox"]:checked ~ span:before {
    content: "\00d7";
    @apply .opacity-100 .text-blue;
  }
  &--invert {
    span {
      @apply .text-white;
      &:before {
        @apply .text-transparent .border-white;
      }
    }
    input[type="checkbox"]:checked ~ span:before {
      @apply .text-white;
    }
  }
}

.v-select {
  font-family: Lato, sans-serif;
  font-weight: 300;
}

.v-select input[type=search],
.v-select input[type=search]:focus {
  flex-basis: 20px;
  flex-grow: 1;
  height: 33px;
  padding: 0 20px 0 10px;
  width: 100% !important;
  &:hover,
  &:active {
    background-color: transparent;
  }
}

.v-select .dropdown-toggle {
  border: none !important;
  background-color: rgba(37, 73, 156, .1) !important;
  border-radius: 0px !important;
  padding-bottom: 1px;
  &:hover,
  &:active {
    background-color: rgba(37, 73, 156, .2) !important;
  }
}

.v-select.open .dropdown-toggle {
  background-color: rgba(37, 73, 156, .1) !important;
}

.v-select.invert {
  .dropdown-toggle {
    @apply .bg-blue;
    border-color: #fff !important;
    input {
      color: #fff;
    }
    .clear {
      color: #fff;
    }
    .open-indicator:before {
      border-color: #fff;
    }
    .selected-tag {
      color: #fff;
    }
  }
}

.v-select.dropup .dropdown-menu {
  bottom: 100% !important;
  top: auto !important;
  box-shadow: 3px 0 6px 0 rgba(0,0,0,.15);
  border-radius: 4px 4px 0 0;
}